# =========================
# 1. C/C++ 编译中间文件和产物
# =========================
*.o
*.out
*.exe
*.d
*.a
*.so

# =========================
# 2. 汇编与底层二进制产物 (NASM / MBR等)
# =========================
*.bin
*.elf
*.lst

# =========================
# 3. 虚拟机与系统镜像 (QEMU / VMware / Bochs)
# =========================
# 绝对不要把磁盘镜像传到 Git！体积太大！
*.img
*.iso
*.vmdk
*.vhd
*.qcow2
*.bxrc

# =========================
# 4. Linux 内核编译与模块产物 (Lab 1 相关)
# =========================
*.ko
*.mod
*.mod.c
*.mod.o
modules.order
Module.symvers
.tmp_versions/
.*.cmd

# =========================
# 5. 调试工具日志
# =========================
.gdb_history
*.log
bochsout.txt

# =========================
# 6. 编辑器与 IDE 配置文件
# =========================
.vscode/
# 如果你想保留编译配置 tasks.json，可以取消下面这两行的注释：
# !.vscode/tasks.json
# !.vscode/launch.json
*.swp
*~

linux-6.19.6/

